/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Style */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
    
    
}

/* Clearfix */
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}
.header{
    background-color: #5385c1;
    height: 72px;
    line-height: 72px;
    color: #ffffff;
}
.brand{
    float:left;
    vertical-align: middle;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left:32px;
    margin-top: 24px;
}

.nav{
    float: right;
}
.nav, .a{
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left:32px;
    margin-top: 24px;
}

/* header section */
.header-section{
    padding: 120px 0;
    text-align: center;
    background-color: #5385c1;
}
.header-heading{
    font-size: 56px;
    margin-bottom: 16px;
    color: azure;
}
.header-text{
    font-size: 16px;
    color: azure;
}


h4{
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
}

/* Article */
.article-section{
    padding: 100px 0;
    background-color: #ffffff;
}

.col{
    float: left;
    width:30%;
    margin: 0 1.5%;
}

p{
    font-size: 20px;
    line-height: 1.7;
    margin-top: 24px;
}
.h2{
    color:#5385c1;
    font-size: 30px;
}
.box{
    width:60px;
    height:35px;
    background-color: #5385c1;
    margin-top: 15px;
}
.btn{
    color:#ffffff;
    text-decoration: none;
    padding: 12px;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    
}

/*Gallery section */

.gallery-section{
    padding: 150px 0;
    background-color: #5385c1;
}
.gallery-heading{
    width:100%;
    text-align: center;
    margin-bottom: 10%;
    
}
.gallery-box{
    border: 1px solid white;
    width:20.5%;
    height:350px;
    float:left;
    margin-left: 40px;
    
}
.gallery-heading, h3{
    font-size: 50px;
    color: whitesmoke;
}
.gallery-img{
    text-align: center;
    padding: 35px;
}
.gallery-img-row{
    border-radius: 50%;
}

.gallery-heading, h3{
    font-family:sans-serif;
}

h4{
    text-align: center;
    margin: 0 auto;
}
.gallery-para{
    text-align: center;
    color:aliceblue;
    margin: 0 auto;
}


/* img-article */
.img-article{
    padding: 100px 0;
    background-color: #ffffff;
}
.article-col{
    float:left;
    width:43%;
    margin-left: 55px;
}
.article-col-img{
    width:100%;
}
.article-col, p{
    color: grey;

}
.img-article-h3{
    color:#5385c1;
    text-transform: capitalize;
}


hr{
    width:75%;
    border-style: line;
}

/* footer */
footer{
    background-color: #ffffff;
    padding: 40px;
}

.social-media{
    float:right;

}